FLASK_ENV=development
SECRET_KEY=
JWT_SECRET_KEY=
DATABASE_URL=

CLIENT_ORIGIN=http://localhost:5173

GOOGLE_MAPS_API_KEY=

MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
